.panel {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-top: 2rem;
}


input {
	height: 1rem;
	border: none;
	margin: 0 0 5px 5px ;
	border-bottom: 1px solid #0000006d;
	font-size: 1rem;
	font-family: "Gill Sans", sans-serif;
}

button {
	height: 1.25rem;
	width: 1.25rem;
	border-radius: 50%;
	border: none;
}


input:focus,
button:focus {
    outline: none;
}
