.panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 14px;
	border-radius: 1rem;
	gap: 10px;
	margin-top: 1rem;
	-webkit-box-shadow: 0px 0px 52px -20px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 52px -20px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 52px -20px rgba(0, 0, 0, 1);
}

.checkbox-label {
	font-size: 0.75rem;
}

.addPanel {
	display: flex;
	flex-direction: column;
	align-items: center;
  }


form {
	display: flex;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	flex-direction: column;
}

input:focus,
button:focus {
    outline: none;
}


.sendbtn {
	position: relative;
	float: right;

}